html,
body,
#root {
  font: 0.9rem sans-serif;
  color: #1e2432;
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main-container {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.418)),
    url("img/bg.jpg");
  background-size: cover;

}

.main-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search {
  outline: none;
  padding: 10px 10px;
  border-radius: 20px;
  border: none;
  margin-bottom: 5%;
  background: rgba(250, 250, 250, 0.85);
  font-size: 20px;
  width: 40%;
  text-align: center;
}

.search :placeholder-shown {
  display: none;
}


.city {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 8%;
  border-radius: 20px;
  background: rgba(250, 250, 250, 0.85);
  box-shadow: 10px 10px 5px 0px rgba(15, 15, 15, 0.404);
}

p {
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.city-temp {
  font-size: 5rem;
  font-weight: bold;
  margin-top: 10px;
  color: #1e2432;
  text-align: center;
}


.city-name {
  font-size: 30px;
  color: #5a5ac4;
}
.city-name a{
  color:black;
}
.city-icon {
  margin-top: 10px;
  width: 100px;
  height: 100px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
p{
  font-size: 21px;
}

@media only screen and (max-width: 200px) {
  .search {
    width: 70%;
    text-align: center;
  }

  .city {
    padding: 40px 20%;
  }
}
